<!DOCTYPE html>
<html lang="en">
<head>`
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--1. 개발환경설치 끝-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
      <div id="app">
            문자열이름:<input v-model="username"/><br>
            문자열이름(lazy):<input v-model.lazy="username"/><br>
            입력된이름:{{username}}<br>
            <hr>
            정수형나이:<input v-model="age"/><br>
            정수형나이(number):<input v-model.number="age"/><br>
            입력된나이:{{age}}<br>
            <hr>
            공백제거:<input v-model="address"/><br>
            공백제거(trim):<input v-model.trim="address"/><br>
            입력된주소:{{address}}<br>
            <hr>
            <input type="checkbox" v-model="hobby"  value="야구">야구<br>
            <input type="checkbox" v-model="hobby"  value="축구">축구<br>
            <input type="checkbox" v-model="hobby"  value="농구">농구<br>
            취미:{{hobby}}
    </div>
    <script>
   
        let model = {
           username:'',
           age:'',
           address:'',
            hobby:[]
        };

        var app = new Vue({
        el: '#app',
        data: model 
        });


    </script>
</body>
</html>